a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header {
	width: 100%;
    max-width: 1920px;
    height: 120px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}
.logo {
	position: absolute;
	top: 15px;
	left: 80px;
}
.depth01 {
	display: inline-block;
	position: relative;
}
.depth01Tit {
	font-size: 19px;
    display: block;
    line-height: 120px;
    padding: 0 30px;
    font-weight: 600;
    height: 100%;
}

.depth01:hover .depth01Tit {
	color: #004eff;
}
.depth01:hover .depth02Pnl {
	display: block;
}
.depth02Pnl {
	display: none;
    border-radius: 20px;
    background: #004eff;
    position: absolute;
    bottom: -29px;
    font-size: 0;
    height: 54px;
    line-height: 68px;
    z-index: 3;
}
.depth02Pnl.pcBuy {
	width: 370px;
}
.depth02Pnl.support {
	width: 500px;
	right: 0;
}
.depth02 {
	display: inline-block;
    line-height: 54px;
    vertical-align: top;
}
.depth02Tit {
	display: inline-block;
	font-size: 18px;
	padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #bdd2ff;
    font-weight: 400;
    height: 100%;
}
.depth02Tit:hover {
	color: white;
    font-weight: 400;
}
.btns {
	position: absolute;
    right: 80px;
    top: 35%;
}
.btns a {
    font-size: 13px;
    font-weight: 600;
    color: #666c74;
    vertical-align: middle;
    margin-right: 18px;
    position: relative;
}
.siteMap {
	top: 5px;
}
.btns a:not(.siteMap):hover {
	color: #004eff;
}
.btns a:not(.siteMap):hover::after {
    content: '';
    width: 6px;
    height: 6px;
    background: #004eff;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    bottom: -8px;
}
.siteMapScreen {
	z-index: 30;
	display: none;
	position: fixed;
	background-color: #007aff;
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
}
.siteMapDown {
	position: absolute;
    top: 28px;
    right: 78px;
    padding: 20px;
    width: 22px;
    height: 22px;
    background: url(../Images/img_toastPop_close_mo.png) no-repeat center center;
    background-size: 22px 22px;
    z-index: 1;
    color: transparent;
    user-select: none;
}
.siteMapScreen .menu {
	display: inline-block;
    width: 19%;
    height: 100vh;
    background: #004eff;
    vertical-align: top;
    position: relative;
    transition: background 0.5s;
    text-align: center;
}
.siteMapScreen .menu:hover {
    background: white;
}
.siteMapScreen .menu:hover .menuInn a{
	color: #0043ff;
}
.menuInn {
	width: 100%;
    height: 380px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}
.menuInn a {
	display: inline-block;
    width: 100%;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.menuInn .list {
	margin-top: 60px;
}
.menuInn .list .menuItem {
    margin-bottom: 49px;
}
.menuInn .list .menuItem a {
	font-size: 26px;
    font-weight: 500;
    color: white;
    position: relative;
}
.footer {
    width: 100%;
    height: 100%;
    position: relative;
    border-top: 1px solid #e6e6e6;
}
.info {
	padding-top: 50px;
	padding-left: 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}
.infoContent {
    display: inline-block;
    padding-right: 12px;
    margin-right: 12px;
    position: relative;
}
.infoContent::after {
    content: '';
    width: 1px;
    height: 15px;
    background: #e6e6e6;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.infoContent:last-Child::after {
	content: none;
}
.copyright {
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 28px;
}
.tel {
	width: 250px;
	height: 70px;
    position: absolute;
    right: 230px;
    top: 30px;
    right: 40px;
	color: #004eff;
}
.telSupport {
    font-weight: 600;
}
.telNum {
	font-weight: 600;
    font-size: 34px;
    line-height: 48px;
}
.time {
	font-size: 14px;
    font-weight: 300;
    color: #555;
}
.section01 {
	background: #f2f6ff;
	height: 800px;
}
.pcWrap {
	position: absolute;
	background: white;
	margin-top: 109px;
	margin-left: 522px;
	width: 900px;
	height: 600px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 8px 12px 0 rgb(33 37 41 / 30%);
}
.pcImage {
	position: relative;
    max-width: 1760px;
    margin: 0 auto;
    overflow: hidden;
}
.pcImage img {
	height: 600px;
	border-radius: 20px;
	
}
.pcInfo {
	top: 10px;
	position: absolute;
	width: 400px;
	height: 600px;
	right: 30px;
}
.pcName {
	font-weight: 600;
	margin-top: 60px;
    margin-left: 30px;	
    font-size: 24px;
}
.pcSub {
	font-size: 18px;
	margin-top: 10px;
    margin-left: 30px;
}
.pcPrice {
	font-size: 36px;
    font-weight: 600;
    color: #ff6d6a;
    margin-left: 30px;
    margin-top: 60px;
}
.buyBtn {
	position: absolute;
	top: 450px;
	left: 30px;
    width: 192px;
    height: 72px;
    line-height: 1;
    background: #004eff;
    vertical-align: top;
    border-radius: 12px;
	text-align: center;
}
.likeBtn {
	position: absolute;
	top: 450px;
	right: 10px;
}
.likeBtn img {
	width: 80px;
	height: 70px;
}
.buyBtn span {
	position: absolute;
	top: 28px;
	left: 56px;
	font-size: 18px;
	font-weight: 800;
	color: white;
}
.section02 {
	background: #004eff;
    padding-top: 138px;
    padding-bottom: 60px;
    position: relative;
    margin-bottom: 80px;
}
.section02Tit {
	text-align: center;
	line-height: 56px;
	font-weight: 300;
	color: rgba(169, 195, 255, 0.8);
	font-size: 30px;
}
.section02Tit span {
	color: white;
}
.section02Item {
	margin-top: 70px;
	text-align: center;
}
.item {
	display: inline-block;
    width: 392px;
    height: 230px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative;
    box-sizing: border-box;
    background: white;
    padding: 50px 0 54px 48px;
    border-radius: 20px;
    vertical-align: top;
}
.itemTit {
	text-align: left;
    font-size: 24px;
    font-weight: 500;
    color: #222;
    margin-bottom: 20px;
}
.itemCon {
	width: 100%;
    max-width: 205px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}
.section03 {
	padding-top: 120px;
}
.iconList {
    width: 1300px;
    margin: 0 auto 26px;
    box-sizing: border-box;
}
.icon {
	display: inline-block;
    width: 180px;
    height: 180px;
    margin-right: 30px;
    margin-bottom: 32px;
    padding: 35px 0 27px;
    box-sizing: border-box;
    background: #f9f9f9;
    border-radius: 10px;
    vertical-align: top;
    cursor: pointer;
}
.icon img {
	padding-left: 40px;
}
.icon span {
	display: block;
    text-align: center;
    width: 100px;
    line-height: 20px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    color: #666c74;
    margin-top: 10px;
}
.section04 {
    display: block;
    position: relative;
    width: 100%;
    min-height: 900px;
    height: auto;
    user-select: auto;
    background: #eaf0ff;
}
.opinion {
	position: absolute;
	top: 200px;
	left: 300px;
}
.opinion li {
	width: 100%;
    font-size: 48px;
    font-weight: 500;
    color: #004eff;
    position: relative;
    margin-bottom: 160px;
}
.section05 {
	width: 1240px;
    margin: 200px auto 0;
}
.locationTit {
	position: relative;
    margin-bottom: 38px;
    font-size: 30px;
    font-weight: 500;
    color: #222;
}
.location {
	position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
    border-radius: 20px;
}